<form action="/charge" method="post" id="payment-form" {{did-insert this.didInsert}} {{on "submit" this.submit}} class="d-flex flex-column">
  {{#if this.error}}
    <div class="text-danger text-center px-3" role="alert">{{this.error}}</div>
  {{/if}}

  <div class="form-row my-3">
    <label for="card-element">Card Number</label>
    <div id="card-element" class="border rounded px-3 py-2"></div>
  </div>

  <button type="submit" class="btn btn-primary mt-4 mx-auto" disabled={{this.submitDisabled}}>Pay ${{this.formattedPrice}}</button>
</form>